*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{   background-color: black;

}
.sidebox{
    width: 300px;
    background:#ccc;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
}
.sidebar-nav .logo {
            width: 120%;
}
.sidebar-nav .logo img{
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li{
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li{
    font-size: 20px;
    margin-right: 10px;
}